<aside class="sidebar static">
    <div class="widget">
        <h4 class="widget-title">Atajos</h4>
        <ul class="naves">
            <li>
                <i class="ti-user"></i>
                <a href="/friends">Amigos</a>
            </li>
        </ul>
    </div>
</aside>